<div class="gift-card">
  <div class="d-flex justify-content-center" id="main">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button
        type="button"
        class="btn btn-outline-primary"
        [routerLink]="['/all-gift-card']"
      >
        E-Gift card
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        [routerLink]="['/physical-gift-card']"
      >
        Physical gift card
      </button>
    </div>
  </div>
</div>
