<div style="background-color: rgb(245, 245, 245)">
  <div
    class="back"
    style="background-image: url('../assets/images/coorporate/Background.png')"
  >
    <div class="back1">
      <div class="firstCol">
        <p style="text-align: center">Entertainment you can gift.</p>
        <p style="text-align: center">
          A variety of solutions to skyrocket your business with vouchers,
          promotions, loyalty, employee recognition & rewards. Watch video
        </p>
        <div class="watchDownload">
          <h5><i class="bi-camera-video"></i>Watch Video</h5>
          <h5><i class="bi-cloud-download-fill"></i>Download Brochure</h5>
        </div>
      </div>
      <div class="secCol">
        <div
          class="card"
          style="
            width: 18rem;
            margin-left: -30%;
            margin-top: 10%;
            margin-bottom: 10%;
          "
        >
          <div class="card-body">
            <label>Full Name</label>
            <input type="text" />
            <label>Company Email</label>
            <input type="text" />
            <label>Company Name</label>
            <input type="text" />
            <label>Mobile Number</label>
            <input type="text" placeholder="eg:914678968796" />
            <button class="receiveBtn">Receive a callback</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partner" style="background-color: rgb(253, 252, 252)">
    <div class="partner2">
      <div style="text-align: center; padding-top: 20px">
        <p>OUR PARTNER</p>
      </div>
      <div class="sponser" style="text-align: center; padding-top: 20px">
        <div class="sponimag" style="padding: 20px">
          <img src="../assets/images/coorporate/sponser1.png" />
        </div>
        <div class="sponimag" style="padding: 20px">
          <img src="../assets/images/coorporate/sponser2.png" />
        </div>
        <div class="sponimag" style="padding: 20px">
          <img src="../assets/images/coorporate/sponser3.png" />
        </div>
        <div class="sponimag" style="padding: 20px">
          <img src="../assets/images/coorporate/sponser4.png" />
        </div>
        <div class="sponimag" style="padding: 20px">
          <img src="../assets/images/coorporate/sponser5.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="screen">
    <div style="text-align: center; padding: 20px">
      <div style="font-size: 20px">1000+</div>
      <div style="font-size: 12px">Cities</div>
    </div>
    <div style="text-align: center; padding: 20px">
      <div style="font-size: 20px">6000</div>
      <div style="font-size: 12px">Screens</div>
    </div>
    <div style="text-align: center; padding: 20px">
      <div style="font-size: 20px">1000+</div>
      <div style="font-size: 12px">CORPORATES <br />WHO TRUST US</div>
    </div>
    <div style="text-align: center; padding: 20px">
      <div style="font-size: 20px">15 MILLION+</div>
      <div style="font-size: 12px">TICKETS SOLD<br />PER MONTHS</div>
    </div>
    <div style="text-align: center; padding: 20px">
      <div style="font-size: 20px">4 Billion</div>
      <div style="font-size: 12px">PAGE VIEWS <br />PER MONTH</div>
    </div>
  </div>
  <div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <img src="../assets/images/coorporate/corporate1.png" />
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>WHAT'S IN IT FOR YOU</p>
          <p>Brand Promotions</p>
          <p>
            Gifting entertainment is a fun way to push your brand's message. And
            the ways you can use vouchers are endless. For example, upselling
            celebrity-endorsed products timed with a movie release.
          </p>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <p>Employee Engagement Recognition & Rewards</p>
          <p>
            Show your clients and employees some appreciation by gifting them
            our products.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img src="../assets/images/coorporate/corporate2.png" />
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <img src="../assets/images/coorporate/corporate3.png" />
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>Lead Generation</p>
          <p>
            Get positive referrals, keep existing customers and trigger change
            management.
          </p>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <p>Loyalty</p>
          <p>
            Keep customers firmly in your corner by rewarding them with
            promotional vouchers.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img src="../assets/images/coorporate/corporate4.png" />
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <img src="../assets/images/coorporate/corporate5.png" />
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p>Corporate Gifting</p>
          <p>
            From stand-up comedy and sporting activities to movies and plays,
            we've got all the entertainment worth gifting to your patrons.
          </p>
          <!-- <img src="../assets/images/coorporate/corporate5.png" /> -->
        </div>
      </div>
    </div>
  </div>
  <div>
    <div style="background-color: white; margin: 1.5%">
      <p style="text-align: center">OUR SUITE OF BUSINESS SOLUTIONS:</p>
      <div class="card-group" style="margin: 1%">
        <div class="flex">
          <p
            style="background-image: url('../assets/images/coorporate/red.png')"
          >
            End to End creative support
          </p>
          <p
            style="
              background-image: url('../assets/images/coorporate/green.png');
            "
          >
            Marketing & Email guidance
          </p>
          <p
            style="
              background-image: url('../assets/images/coorporate/yellow.png');
            "
          >
            Bulk and SMS communication
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
