<div class="container">
  <!--    <i class="bi-search"></i> -->
  <input type="text" placeholder="Search for offers by Name or Bank" />

  <h3
    STYLE="font-style:normal;font-family: math;font-size: 19px;text-align:center"
  >
    FILTER OFFERS BUY
  </h3>

  <div class="text-center">
    <button type="button" class="btn btn-light">
      <i class="bi-credit-card"></i>
    </button>
    <button type="button" class="btn btn-light">
      <i class="bi-book-half"></i>
    </button>
    <button type="button" class="btn btn-light">
      <i class="bi-wallet-fill"></i>
    </button>
  </div>

  <div class="row">
    <div class="column">
      <img src="../assets/images/listoffer/listoff1.png" />
      <p>Some text..</p>
    </div>

    <div class="column">
      <img src="../assets/images/listoffer/listoff2.png" />
      <p>Some text..</p>
    </div>

    <div class="column">
      <img src="../assets/images/listoffer/listoff3.png" />
      <p>Some text..</p>
    </div>

    <div class="column">
      <img src="../assets/images/listoffer/listoff4.png" />
      <p>Some text..</p>
    </div>

    <div class="column">
      <img src="../assets/images/listoffer/listoff5.png" />
      <p>Some text..</p>
    </div>
    <div class="column">
      <img src="../assets/images/listoffer/listoff6.png" />
      <p>Some text..</p>
    </div>
    <div class="column">
      <img src="../assets/images/listoffer/listoff7.png" />
      <p>Some text..</p>
    </div>
    <div class="column">
      <img src="../assets/images/listoffer/listoff8.png" />
      <p>Some text..</p>
    </div>
    <div class="column">
      <img src="../assets/images/listoffer/listoff9.png" />
      <p>Some text..</p>
    </div>
  </div>
</div>
